*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/appInsightsSettings.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyleSettings.xml
/.idea/codeStyles
/.idea/libraries
/.idea/caches
/.idea/deploymentTargetSelector.xml
/.idea/other.xml
.DS_Store
/build
/captures
.externalNativeBuild

/versions
fastlane/sample-narratives
fastlane/screenshots-temp
adb-change-language.apk
